body {
  font-family: 'Segoe UI'sans-serif;
  user-select: none;
}

.app-content {
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  font-size: 14px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.logo-container>p {
  color: #757575;
}

.buttons-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App .notification-container {
  bottom: 0;
  top: unset !important;
  width: 100%;
  padding: 0px;
}

.App .notification-success .message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App button {
  outline: none;
  border: none;
  background: #0063F7;
  color: white;
  font-size: 9pt;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
}

.App input,
.App .input {
  background: #191d2f;
  border: solid 1px #757575;
  color: #DADADA;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.App .accent {
  color: #0063F7;
}

.App .react-tabs__tab--selected {
  outline: none;
  box-shadow: none;
  background: #313849;
  border-bottom: solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: unset;
  border-color: #0063F7;
  color: unset;
}

.App .react-tabs__tab:focus {
  box-shadow: none;
  border-color: inherit;
  border-color: #0063F7;
}

.App .notification-container .notification {
  box-shadow:  0 0 12px black;
}