body {
  margin: 0;
  font-family: -apple-system, "SF Pro Display", "SFProDisplay-Regular", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
  background: #191D2F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #FBC02D; 
}


@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("/SFProDisplay-Regular.ttf");
}  